<section id="header">
  <app-header></app-header>
</section>

<section id="home">
  <div class="columns py-3">
    <div class="column py-6">
      <div class="content py-6 mx-6">
        <h1 class="has-text-centered is-size-1 has-text-success">
          H! I am<br /><span class="is-capitalized has-text-success tw"></span>
        </h1>
      </div>
    </div>
    <div class="column mx-6 py-6">
      <div class="card">
        <div class="card-content">
          <div class="has-text-centered">
            <figure class="image is-128x128 is-inline-block">
              <img
                class="is-rounded"
                src="../../../assets/images/profilepic.png"
              />
            </figure>
          </div>

          <div class="content my-6">
            <p class="has-text-centered is-size-6 has-text-justified px-6">
              “Well-qualified Full Stack Developer(in Junior role) familiar with
              wide range of programming utilities and languages. Knowledgeable
              of backend and frontend development requirements. Handles any part
              of process with ease. Learning Devops technologies. Collaborative
              team player with excellent technical abilities offering overall 6+
              years of related experience”
            </p>
            <h4
              class="is-uppercase is-italic has-text-weight-semibold has-text-centered has-text-dark"
            >
              Abhilash Singh Chauhan
            </h4>
            <h4
              class="is-capitalized is-size-6 has-text-centered has-text-danger"
            >
              Senior Specialist (HCL, Noida)
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="worktimeline">
  <app-worktimeline></app-worktimeline>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="projects">
  <app-projects></app-projects>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>

<!--#Well-qualified Full Stack Developer familiar with wide range of programming utilities and languages. Knowledgeable of backend and frontend development requirements. Handles any part of process with ease. Collaborative team player with excellent technical abilities offering overall 4+ years of related experience.-->
