<section id="header">
  <app-header></app-header>
</section>

<section id="home my-6 py-6">
  <div class="columns py-6">
    <div class="column py-6">
      <div class="content py-6 mx-6">
        <h1 class="has-text-centered is-size-1 has-text-success">
          H! I am<br /><span class="is-capitalized has-text-success tw"></span>
        </h1>
      </div>
    </div>
    <div class="column mx-6 py-6">
      <div class="card">
        <div class="card-content">
          <div class="has-text-centered">
            <figure class="image is-128x128 is-inline-block">
              <img
                class="is-rounded"
                src="../../../assets/images/profilepic.png"
              />
            </figure>
          </div>

          <div class="content my-6">
            <p class="has-text-centered is-size-6 has-text-justified px-6">
              “Experienced Developer with 8+ years in the industry, including 5
              years focused on Full Stack Development. Highly skilled in
              creating and integrating REST APIs, developing both frontend and
              backend components, and streamlining tasks through Jenkins
              freestyle jobs. Known for strong debugging abilities and
              comprehensive knowledge of Full Stack methodologies. With a solid
              grounding in DevOps practices, consistently produces scalable,
              reliable solutions that drive business success.”
            </p>
            <h4
              class="is-uppercase is-italic has-text-weight-semibold has-text-centered has-text-dark"
            >
              Abhilash Singh Chauhan
            </h4>
            <h4
              class="is-capitalized is-size-6 has-text-centered has-text-danger"
            >
              Senior Specialist (HCL TECH)
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="worktimeline" class="my-6 py-6">
  <app-worktimeline></app-worktimeline>
</section>

<section id="skills" class="my-6">
  <app-skill></app-skill>
</section>

<section id="projects" class="my-3 py-3">
  <app-projects></app-projects>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>
