<div>
    <section class="section">
      <hr class="dropdown-divider headLine">
      <h1 class=" is-uppercase is-size-2 has-text-dark has-text-weight-semibold has-text-centered">my skills</h1>
      <hr class="dropdown-divider headLine">
    </section>
    <div class="columns">
      <div class="column mx-3" *ngFor="let item of skillData">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered is-uppercase is-size-4">
              {{item.skill_name}}
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <ul *ngFor="let item of item.WellKnow | keyvalue">
                <li class="has-text-centered  is-size-6 has-text-justified px-6">{{item.value}}</li>
              </ul>
              <footer class="card-footer py-3 my-3">
              <h1 class="is-uppercase has-text-centered  is-size-6 has-text-justified px-6">Skills {{item.skill_achieve}}</h1>
              <div
                style="width:80%;height:15px;border-radius: 4px;"
                [ngStyle]="getStyle(item.skill_achieve)">
              </div>
              <hr class="dropdown-divider skill">
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

