<div>
  <section class="section">
    <hr class="dropdown-divider headLine" />
    <h1
      class="is-uppercase is-size-2 has-text-dark has-text-weight-semibold has-text-centered"
    >
      my skills
    </h1>
    <hr class="dropdown-divider headLine" />
  </section>
</div>
<section class="section is-medium mx-6 my-6">
  <div class="container is-fluid mx-6 my-6">
    <div
      class="fixed-grid has-2-cols-mobile has-4-cols-desktop has-4-cols-widescreen has-4-cols-fullhd has-3-cols-tablet my-6"
    >
      <div class="grid my-6 mx-6">
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/ansible.png" />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/i_aws.png" />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/download.png" />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/i_linux.png" />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/i_github.png" />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/i_docker.png" />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img
              src="../../../assets/images/Jenkins_logo_with_title.svg-e1654524720392-150x150.png"
            />
          </figure>
        </div>
        <div class="cell">
          <figure class="image is-128x128 is-inline-block mx-6">
            <img src="../../../assets/images/i_phyton.png" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
